<a href="https://colab.research.google.com/github/Rapoulas/data_science_ads/blob/master/CombinandoDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

lojaA = pd.DataFrame({"loja": ["A", "A", "A"],
                      "dia": ["sex", "sab", "dom"],
                      "valor": [7500, 9500, 8200]}
                     )

lojaB = pd.DataFrame({"loja": ["B", "B", "B"],
                      "dia": ["sex", "sab", "dom"],
                      "valor": [5100, 8250, 9900]}
                     )

lojaC = pd.DataFrame({"loja": ["C", "C"],
                      "dia": ["sab", "dom"],
                      "valor": [7500, 11800]}
                     )

lojaABC = pd.concat([lojaA, lojaB, lojaC], ignore_index = True)
print(lojaABC)

  loja  dia  valor
0    A  sex   7500
1    A  sab   9500
2    A  dom   8200
3    B  sex   5100
4    B  sab   8250
5    B  dom   9900
6    C  sab   7500
7    C  dom  11800

In [6]:
import pandas as pd

d1 = pd.DataFrame({"carro": ["Hyundai", "Renault", "Fiat"]})
d2 = pd.DataFrame({"animal": ["Capivara", "Bem-ti-vi", ]})

d3 = pd.concat([d1, d2], ignore_index=True, sort=False)
print(d3)

     carro     animal
0  Hyundai        NaN
1  Renault        NaN
2     Fiat        NaN
3      NaN   Capivara
4      NaN  Bem-ti-vi

In [10]:
import pandas as pd

df_sql = pd.DataFrame({"email": ["elza.=_peioto@astconsult.com.br", "carlos_pires@piscinasegura.com.br"]})

df_python = pd.DataFrame({"email": ["elza.=_peioto@astconsult.com.br", "roberto_moreira@gruporeis.net", "alice.nicole.barbosa@bb.com.br"]})

alunos = pd.concat([df_sql, df_python], ignore_index=True)
alunos = alunos.drop_duplicates()

sql_e_python = df_sql.merge(df_python)

so_sql = df_sql[df_sql.email.isin(df_python)==False]
so_python = df_python[df_python.email.isin(df_sql.email)==False]

In [11]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
flags = pd.read_csv("/content/drive/MyDrive/MaterialApoio/flags.csv")
countries = pd.read_csv("/content/drive/MyDrive/MaterialApoio/countries.csv")

num_linhas_flag = flags.shape[0]
num_linh_country = countries.shape[0]

ambas = pd.merge(flags, countries, how="inner", left_on="name", right_on="country")
num_linhas_ambas = ambas.shape[0]

so_flags = pd.merge(flags, countries, how="left", left_on="name", right_on="country")
so_flags = so_flags[pd.isnull(so_flags['country'])==True]


so_countries = pd.merge(flags, countries, how="right", left_on="name", right_on="country")
so_countries = so_countries[pd.isnull(so_countries['name'])==True]